In [2]:
import numpy as np
import pandas as pd

In [3]:
tweets = pd.read_csv("./tweets.csv")
users = pd.read_csv("./users.csv")

In [4]:
tweets_truncated = tweets[['user_id','id','text', 'retweet_count', 'reply_count','favorite_count', 'retweeted_status_id','num_hashtags', 'num_urls', 'num_mentions']]
tweets_truncated['tweet_length'] = tweets_truncated.apply(lambda row: 0 if type(row.text)!=str and np.isnan(row.text) else len(row.text), axis = 1)
tweets_truncated['retweeted'] = tweets_truncated.apply(lambda row: 1 if row.retweeted_status_id!=0 else 0, axis = 1)
tweets_truncated = tweets_truncated.drop(['text','retweeted_status_id'], axis=1)

c:\users\yash\dv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\yash\dv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
tweets_truncated.head()

,user_id,id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,tweet_length,retweeted
0,887281,594073273480130560,0,0,0,0,1,0,85,0
1,887281,594066507723833345,0,0,0,0,1,1,100,0
2,887281,593739179655323649,0,0,0,0,1,0,82,0
3,887281,593737857149345792,14,0,0,0,1,4,140,1
4,887281,593282967134466051,3,0,0,0,1,1,88,1

In [41]:
tweets_sum = (tweets_truncated.drop('id', axis=1).groupby('user_id').sum()).rename(columns=lambda x: 'Sum('+x+')')
tweets_avg = (tweets_truncated.drop(['id'], axis=1).groupby('user_id').mean()).rename(columns=lambda x: 'Avg('+x+')')
tweets_min = (tweets_truncated.drop(['id','retweeted'], axis=1).groupby('user_id').min()).rename(columns=lambda x: 'Min('+x+')')
tweets_max = (tweets_truncated.drop(['id','retweeted'], axis=1).groupby('user_id').max()).rename(columns=lambda x: 'Max('+x+')')
tweets_count = (tweets_truncated[['user_id','id']].groupby('user_id').count()).rename(columns={'id':'Count(tweets)'})

In [42]:
tweets_df = tweets_count.merge(tweets_sum, on='user_id', how='left').merge(tweets_avg, on='user_id', how='left').merge(tweets_min, on='user_id', how='left').merge(tweets_max, on='user_id', how='left')

In [45]:
tweets_df.to_csv('tweets_df.csv')

In [44]:
tweets_df.columns.to_list()

['Count(tweets)',
 'Sum(retweet_count)',
 'Sum(reply_count)',
 'Sum(favorite_count)',
 'Sum(num_hashtags)',
 'Sum(num_urls)',
 'Sum(num_mentions)',
 'Sum(tweet_length)',
 'Sum(retweeted)',
 'Avg(retweet_count)',
 'Avg(reply_count)',
 'Avg(favorite_count)',
 'Avg(num_hashtags)',
 'Avg(num_urls)',
 'Avg(num_mentions)',
 'Avg(tweet_length)',
 'Avg(retweeted)',
 'Min(retweet_count)',
 'Min(reply_count)',
 'Min(favorite_count)',
 'Min(num_hashtags)',
 'Min(num_urls)',
 'Min(num_mentions)',
 'Min(tweet_length)',
 'Max(retweet_count)',
 'Max(reply_count)',
 'Max(favorite_count)',
 'Max(num_hashtags)',
 'Max(num_urls)',
 'Max(num_mentions)',
 'Max(tweet_length)']